snippet bcj "并查集" b
/* ================= 并查集 =================*/
namespace BCJ {
	int fa[maxn];
	inline void bcj_init(int x){ for(int i=1;i<=x;i++) fa[i] = i; }
	int find(int x){ if( x == fa[x]) return x; return fa[x] = find(fa[x]); }
	void merge(int x,int y){ fa[find[x]] = find(y); }
}
/* ================= 并查集 end =================*/
${0}
endsnippet
