#=================================
#容器
#=================================

# std::vector
snippet vec
vector<${1:int}>   v${2};
endsnippet
# std::list
snippet lst
list<${1:int}> l${2};
endsnippet
# std::set
snippet set
set<${1:key}>   s${2};
endsnippet
# std::map
snippet map
map<${1:key}, ${2:value}>   m${3};
endsnippet
