snippet tt "template" b
#!/usr/bin/env python
from functools import reduce
from itertools import *

endsnippet

snippet read "input" b
a = list(map(int,input().split()))
endsnippet

snippet pr "print" b
print($1)
endsnippet
