snippet tt "template" b
#!/usr/bin/env python
from functools import reduce
from itertools import *

# 读入所有的数据
data = [ list(map(int,line.split())) for line in sys.stdin ]

$0
endsnippet

snippet read "input" b
a = list(map(int,input().split()))
endsnippet

snippet pr "print" b
print($1)
endsnippet
